* {
    font-family: sans-serif;
}

.space {
    height: 100%;
}
.rocket {
    height: 90%;
    background: url(/assets/spaceship.svg) no-repeat center;
}

@media all and (max-width: 480px){

    .rocket {
        background-image: url(/assets/sp-xs.png);
    }

}

body{
    height: 90%;
    background: url(/assets/spaceship.svg) no-repeat center !important;
}

.rocket path {
    fill: white;
}

.tresA {
    width: auto;
    position: absolute;
    bottom: 0;
    right: 1%;
}

.tresA > img {
    float: right;
    width: 70%;
}

.status {
    height: 10%;
    text-align: center;
}

.status > h3 {
    padding-top: 2%;
    text-shadow: 0px 0px 20px #FFF;
    font-size: 24px;
}
