<!-- ¡Créditos al autor por la imagen del cohete! <a href='http://dryicons.com/icon/spaceship-icon-5255'> Icon by Dryicons </a> -->
<div class="space">
    <section class="status">
        <h3>¡Planeta X avistado a Y grados!</h3>
    </section>
    <section class="rocket">
        <cabina_id></cabina_id>
    </section>
    <div class="tresA">
        <img src="../../assets/logo.png" alt="">
    </div>
</div>